@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer components {
  .menu-item {
    @apply px-6 py-2 ml-14 hover:text-neutral-950 hover:bg-white hover:shadow-white transition-all duration-500 ease-out rounded-lg;
  }

  .menu-item-text {
    @apply tracking-widest;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  overflow: hidden;
}

.